<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation" ng-controller='nav-cont'>
    <div class="navbar-brand">
        <a role="button" class="navbar-burger"  ng-class='{"is-active":mobActive}' aria-label="menu" aria-expanded="false" ng-click='mobActive=!mobActive'>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
       
    </div>
    <div class="navbar-menu" ng-class='{"is-active":mobActive}' ng-click='mobActive=false'>
        <div class="navbar-start">
            <a class="navbar-item" ng-repeat='p in pages' href='#' ui-sref-active ='pg-active' ui-sref='{{p.sref}}'>
                <h3><i class="fa fa-{{p.icon}}"></i>&nbsp;{{p.txt}}</h3>
            </a>
        </div>
    </div>
</nav>